#!/bin/bash



if hash uname 2>&-; then
  os_type=`uname -s`
else
  os_type="unknown"
fi

if [[ $os_type == "Darwin" ]]; then
  export CLICOLOR=1
  export LSCOLORS=GxFxCxDxBxegedabagaced
  export TERM="xterm-color"
fi

if [ -d ~/.linuxbrew/bin ]; then
	export PATH=~/.linuxbrew/bin:~/.linuxbrew/sbin:$PATH
fi

#tab title with the current folder name
export PROMPT_COMMAND='echo -ne "\033]0; ${PWD##*/}\007"'
export PROMPT_COMMAND="${PROMPT_COMMAND:+$PROMPT_COMMAND ;} history -a"


export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";

# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

export PAGER=vimpager



################ PS1

#bash prefix format - brunovolpato@~/githubworkspace
#export PS1="\u@\w$ "


# Regular Colors
NOCOLOR="\033[0m"         # unsets color to term's fg color
BLACK='\033[0;30m'        # Black
RED='\033[0;31m'          # Red
GREEN='\033[0;32m'        # Green
YELLOW='\033[0;33m'       # Yellow
BLUE='\033[0;34m'         # Blue
PURPLE='\033[0;35m'       # Purple
CYAN='\033[0;36m'         # Cyan
WHITE='\033[0;37m'        # White

# Bold
BBLACK='\033[1;30m'       # Black
BRED='\033[1;31m'         # Red
BGREEN='\033[1;32m'       # Green
BYELLOW='\033[1;33m'      # Yellow
BBLUE='\033[1;34m'        # Blue
BPURPLE='\033[1;35m'      # Purple
BCYAN='\033[1;36m'        # Cyan
BWHITE='\033[1;37m'       # White



 NONE="\[\033[0m\]"    # unsets color to term's fg color
# regular colors
 K="\[\033[1;30m\]"    # black
 R="\[\033[1;31m\]"    # red
 G="\[\033[1;32m\]"    # green
 Y="\[\033[1;33m\]"    # yellow
 B="\[\033[1;34m\]"    # blue
 M="\[\033[1;35m\]"    # magenta
 C="\[\033[1;36m\]"    # cyan
 W="\[\033[1;37m\]"    # white
 UC=$W                 # user's color
[ $UID -eq "0" ] && UC=$R   # root's color
PS1="$C\u$W@$B\h$C[$W\w$C]$G\$(__git_branch)$R\$(__git_dirty)$W+$NONE "



function whitebg() {
  PS1="$K\u$K@$B\h$C[$K\w$C]$G\$(__git_branch)$R\$(__git_dirty)$K+$NONE "
  UC=$K
}
